<%= render 'users/headeruser' %>
<table id="rounded-corner">
  <tbody>
    <tr class="odd">
        <td><input type="checkbox" name="" /></td>
          <td><%= current_user.username %></td>
          <td><%= current_user.email %></td>
          <td><%= current_user.birth %></td>
          <td><%= current_user.created_at %></td>
          <td><%= current_user.updated_at %></td>
      </tr>
  </tbody>
</table>
